body {
	font-family: "Helvetica";
}

.title {
	font-size: 60px;
	margin: 10px;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 1000px){
	.grid {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 0px;

	}
}

.controls {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#datepicker {
	border: none;
	outline: none;
	margin: 10px;
	font-size: 25px;
	font-family: "Helvetica";
}

#back {
	font-size: 25px;
	background-color: #FAFAF8;
	border: none;
	background-color: white;
	cursor: pointer;
	margin-left: auto;	
}

#next {
	font-size: 25px;
	background-color: #FAFAF8;
	border: none;
	background-color: white;
	cursor: pointer;
	margin-right: auto;	
}


iframe {
	width: 700px;
	height: 750px;
	border: none;
}

p {
	padding-left: 10px;
	margin-bottom: 0px;
	margin-right: auto;
	text-align: justify; 
	display: inline-block;
}

.info {
	margin-top: 8px;
	width: 700px;
	min-height: 750px;
	height: fit-content;
	background-color: #FAFAF8;
}

@media (max-width: 1000px){
	.info {
		width: 692px;
		margin-top: 0px;
		margin-left: 8px;
	}
}

.toggle-container {
    display: flex;
    align-items: center;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
    margin-left: 8px;
}

.toggle input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    transition: 0.4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    top: 2px;
    background-color: #FFF;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(15px);
}